@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Neon Energy X';
  src: local('Neon Energy X'), url('../public/fonts/neon_energy_x.ttf') format('ttf');
}

@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl md:text-9xl
  }

  h2 {
    @apply text-3xl
  }

  h3 {
    @apply text-2xl
  }

}

@layer utilities {
  a[target=_blank]:hover + .ic-external {
    display: block;
  }

  /* Carousel styles */
  .carousel-item {
    @apply absolute top-0 left-0 bg-white w-full h-full transition ease-in-out duration-500
  }

  .hidden-left {
    @apply -translate-x-full -z-10 duration-0
  }

  .hidden-right {
    @apply translate-x-full -z-10 duration-0
  }

  .displayed {
    @apply translate-x-0 z-10
  }

  .changing {
    @apply translate-x-0 z-0
  }

  /* Header neon effect */
  .green-glow {
    color: transparent;
    -webkit-text-stroke: 3px var(--color-secondary);
    text-shadow: 0 0 82px rgba(109, 219, 81, 0.51),
    0 0 92px rgba(109, 219, 81, 0.51);
  }

  /* Chat flush */
  .chat-flush:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: -12px;
    z-index: -1;
    bottom: 0;
    border: 12px solid;
    border-color: transparent transparent white transparent;
  }
  .chat-flush:hover:after {
    border-color: transparent transparent var(--color-secondary) transparent;
  }

  .transition-visibility {
    visibility: hidden;
    opacity: 0;
    transition: visibility, opacity;
    transition-duration: 250ms;
    transition-delay: 100ms;
    @apply group-hover:visible group-hover:opacity-100
  }

}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;
  --color-primary: #d97706;
  --color-secondary: #6DDB51;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
